@mixin flex($direction: row, $justify: center, $align: center, $flex: flex) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin font-size($size: 16, $line: 16) {
    font-size: $size + px;
    line-height: $line + px;
}